<!-- <!DOCTYPE html> -->
<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body w-100">
    <h3 class="card-title text-center text-warning">{{title}}</h3>
    <h4 class="card-title">{{name}}<h4>
        <h5>Stats</h5>
        <hr/>
        <p class="card-text text-info">Strength {{strength}}</p>
        <p class="card-text text-info">Dexterity {{dexterity}}</p>
        <p class="card-text text-info">Intelligence {{intelligence}}</p>
        <button data-id="{{id}}" class="btn btn-info">Choose</button>
  </div>
</div>
