<!-- <!DOCTYPE html> -->

<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title text-center text-warning">{{monster}} Quest</h5>
    <p>{{name}}</p>
    <p class="card-text text-info">{{description}} {{monster}}</p>
    <hr />
    <span class="card-text text-info">
      DIFFICULTY:
      {{difficulty}}
    </span>
    <hr />
    <button data-id="{{id}}" class="btn btn-info">Choose</button>
  </div>
</div>
